* {
    box-sizing: border-box;
}

.task-card-wrapper {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 250px;
    overflow: hidden;
    cursor: pointer;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.card-title-wrapper {
    padding: 5px;
    font-weight: 600;
    color: black;
    text-transform: capitalize;
}

.card-description-wrapper {
    flex: 1;
    font-weight: 600;
    color: black;
    text-align: start;
    padding-left: 5px;
}

.card-deadline-wrapper {
    font-weight: 600;
    text-align: start;
    padding-left: 5px;
    color: black;
}

.card-footer-wrapper {
    color: black;
}