* {
    box-sizing: border-box;
}

.main-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    gap: 1rem;
}

.task-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, 250px);
    gap: 5px;
    padding: 1rem;
    width: 100%;
    flex: 1;
}

.add-task-button {
    align-self: flex-end;
    background-color: blueviolet !important;
}

.controls-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-self: flex-end;
}

.order-by-wraper {
    display: flex;
}

.order-by-select {
    background-color: rgba(0, 0, 0, 0.322);
    border: none;
    border-bottom: 2px solid blueviolet;
    font-size: 1rem;
    font-weight: 600;
}

.order-by-select option {
    background-color: rgba(0, 0, 0, 0.171);
}